.btn {
    background: #C70000;
    border-radius: 16px;
    padding: 18px 48px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: ease-in-out .2s;
    &:hover {
        background: #840202;
    }
}